*.ini
*.iml
.DS_Store
.idea/.DS_Store
.idea/inspectionProfiles/
.idea/workspace.xml
out/.DS_Store
out/production/.DS_Store
out/production/FileSystem/.DS_Store
src/.DS_Store
src/dataObject/.DS_Store
out/
*.jpg